meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')

head
	.center-align
		h1.center-align 404: Error Not Found
		h4 Codejam project