<ion-header>
  <ion-navbar>
    <ion-title>
      Summary
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
    <ion-card>
      <ion-card-header>
        Contamination Level (All-time)
      </ion-card-header>
      <ion-card-content>
	  <span *ngFor="let m of temp| async"></span>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Monthly Average (Current Year)
      </ion-card-header>
      <ion-card-content>
    <span *ngFor="let m of temp| async"></span>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Highest Contamination (By Device)
      </ion-card-header>
      <ion-card-content>
    <span *ngFor="let m of temp| async"></span>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>